name: Node.js Test

on: [push, pull_request]

jobs:
    lint:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-node@v2.2.0
              with:
                  node-version: 14.x
            - run: npm ci
            - run: npm run lint
              env:
                  CI: true

    test:
        runs-on: ubuntu-latest

        strategy:
            matrix:
                node-version: [10.x, 12.x, 14.x]

        steps:
            - uses: actions/checkout@v2
            - name: Use Node.js ${{ matrix.node-version }}
              uses: actions/setup-node@v2.2.0
              with:
                  node-version: ${{ matrix.node-version }}
            - run: npm ci
            - run: npm run build --if-present
            - run: npm test
              env:
                  CI: true
            - name: Coveralls Parallel
              uses: coverallsapp/github-action@v1.1.2
              with:
                  github-token: ${{ secrets.github_token }}
                  flag-name: run-${{ matrix.node-version }}
                  parallel: true

    finish:
        needs: test
        runs-on: ubuntu-latest
        steps:
            - name: Coveralls Finished
              uses: coverallsapp/github-action@v1.1.2
              with:
                  github-token: ${{ secrets.github_token }}
                  parallel-finished: true
